<h1>Cocktails list</h1>
<div class="hero-banner">
    <div class="container">
<h1>Planet Express, we sometimes deliver your packages!</h1>
<p>Good news everbody! Some suck paid us to deliver a package</p>
    <a class="btn-primary" href="#">Send now!</a>
    </div>
  </div>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= cocktail[:name] %> <%= link_to "details", cocktail_path(cocktail) %> <%= link_to 'delete', cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure? Really?"} %> </li>
  <% end %>
</ul>

<%= link_to "add cocktail", new_cocktail_path %>
